# PyCity Schools Analysis

- Your analysis here
  
---

In [2]:
# Import and setups
import pandas as pd
import os

school_data_initial = os.path.join('resources','schools_complete.csv')
student_data_initial = os.path.join('resources','students_complete.csv')
school_raw = pd.read_csv(school_data_initial)
student_raw = pd.read_csv(student_data_initial)

# Combine dataframes
combined_school_data = pd.merge(student_raw, school_raw, how="left", on=["school_name"])
combined_school_data.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

## District Summary

In [25]:
# Total Number of unique schools
total_unique_school = combined_school_data['school_name'].value_counts(dropna=False).count()
total_unique_school

15

In [41]:
# Total number of students
student_count = combined_school_data['student_name'].count()
student_count

39170

In [56]:
# Total Budget
unique_budgets = combined_school_data['budget'].unique()
total_budget = sum(unique_budgets)
total_budget

24649428

In [58]:
# Avg math score
avg_math_score = combined_school_data['math_score'].mean()
avg_math_score

78.98537145774827

In [60]:
# Avg reading score 
avg_reading_score = combined_school_data['reading_score'].mean()
avg_reading_score

81.87784018381414

In [86]:
# Percent students who passed math
passing_math_count = combined_school_data[(combined_school_data["math_score"] >= 70)].count()["student_name"]
passing_math_percentage = passing_math_count / float(student_count) * 100
passing_math_percentage

74.9808526933878

In [89]:
# Percent students who passed reading
passing_reading_count = combined_school_data[(combined_school_data["reading_score"] >= 70)].count()['student_name']
passing_reading_percentage = passing_reading_count/float(student_count) * 100
passing_reading_percentage

85.80546336482001

In [91]:
# Percent students who passed math and reading
passing_math_reading_count = combined_school_data[(combined_school_data["reading_score"] >= 70) & (combined_school_data["math_score"] >= 70)].count()['student_name']
overall_passing_rate = passing_math_reading_count/float(student_count)*100
overall_passing_rate

65.17232575950983